*{
	margin:0;
	padding: 0;
}
body{
	background: #263238;
	font-family: 'Roboto', sans-serif;
}
#home{
	padding-top: 50px;
}
.foto{
	padding: 50px;
}
.portada{
	width: 50%;
}
.titulo{
	color:#f9a825;
	font-weight: 900;
	font-size: 30px;
}
.blanco{
	background: white;
	width: 90%;
	height: 155px;
}
.amarillo{
	background: #f9a825;
	width: 288px;
	height: 50px;
	color:gray;
	font-size: 20px;
}
.linea{
	width: 330px;
	display: inline-block;
}
.pregunta{
	color:white;
	padding-bottom: 20px;
}
.enlace{
	color:#f9a825;
	font-weight: 700;
}
/*Menu HTML*/

.menu{
	background:#e0e0e0;
}
.barra-negra{
	background: #263238; 
	color:white;
	font-size: 20px;
}
.titulo-negro{
	padding-left: 43px;
}
.lista{
	padding-bottom:20px;
}
.botones{
	padding-top:160px;
}
.botoncitos{
	background:#f9a825;
	color: white;
	width: 100%;
	font-size: 18px;
	padding: 0px;
}
.perfil{
	background:#e0e0e0;
}
.perfil-foto{
	background:#f9a825;	 
}
.mujer{
	width: 56%;
	padding: 15px 0px;
}
.tarjeta{
	background:#e0e0e0;
	padding:5px;
}
#tarjetas{
	background:#e0e0e0;
}
/*Estilos de preguntas frecuentes*/
.preguntas-frecuentes{
	background:#e0e0e0;
}
.parrafo{
	background:#f9a825;
	color: white;
	padding: 50px 0px; 
}
.linitas{
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
}
.inicio{
	font-size: 10px;
	font-weight: bold;
}
.texto-acordeon{
	font-size: 10px;
	text-align: justify;
}
.acordeon-blanco{
	margin: 0px;
	background: whitesmoke;
}
/*fin de preguntas frecuentes*/
/*inicio de ver-saldo html*/
.ver-saldo{
	background:#e0e0e0;

}
.espacio{
	padding:10px;
}
.pequeño{;
	background:#f9a825;
	color:white;
}
.calcular{
	background: #e0e0e0;

}
.circle{
	color:gray;
}
.icons{
	font-size: 15px;
}
